.class-box {
    position: relative;
    border: 3px solid white;
    border-radius: 7px;
    overflow: hidden;
  }
  
  .class-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), rgba(0, 123, 255, 0.7), rgba(0, 123, 255, 0) 70%);
    transition: background 0.1s ease-out;
  }
  
  .class-box:hover::before {
    visibility: visible;
  }
  
  .class-box:hover {
    border-color: transparent;
  }
  