*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.page{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(89, 141, 164, 0.47),rgba(89, 141, 164, 0.47));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    padding:20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 80px;
}
nav ul li{
    list-style: none;  
    display: inline-block;     
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    display: inline-block;
}

.content h1{
    -webkit-text-stroke: 3px #fff;
    text-align: center;
    font-size: 160px;
    font-weight: 600;
    color: transparent;  
    font-family:'Poppins', sans-serif;
}

.vid{
  
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /*  position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    */

}

/*responsiveness of the background vid
VIDEO COMES FROM PEXELS.com, A ROYALTY FREE OPEN 
SOURCE FREE IMAGE AND VIDEOS BANK*/
@media(min-aspect-ratio: 16/9){
    .vid{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .vid{
        width: auto;
        height: 100%;
    }
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.button{
    padding: 12px 24px;
    border-radius: 50px;
    border: 2px solid #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}

.button:hover{
    background-color: rgb(53, 114, 129);
}

.create-link{
    margin-top:40px;
    text-align: center;
}

.link{
    color: #0264cc;
    text-decoration:underline;
    font-size: 16px;
    transition: color 0.3s ease;
}
.link:hover{
    color:#00d5ff
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(89, 141, 164, 0.7); /* Adjust opacity as needed */
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar .logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin-left: 40px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    display: inline-block;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #00d5ff;
}
